#booking-table-div{
    background-color: white;
}

a{
    color: inherit;
}

@media screen and (max-width: 576px) {
    #reservation-number-header {
        display: none;
    }
    
    #reservation-number-row{
        display: none;
    }
}
